.positions {
  color: rgb(7, 7, 7);
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: left;
  display: inline-block;
  width: 300px;
  height: 20px;
  margin: auto;
}
input[type=number], input[type=text], select {
  width: 150px;
  height: 40px;
  padding: 5px 15px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 16px;
  display: inline-block;
}
.inputs, .base_control { display: inline-block; }

.base_control { 
  width: 300px;
  margin: 2px 2px 0px 50px; 
}

.set_button,
.set_all_button,  
.pose_button, 
.forward_button,
.lr_button,
.backward_button {
  background-color: #e9e9e9d9;
  border: 1px solid #000000;
  border-radius: 3px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 150px;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 2px 0;
}
.pose_button { margin: 2px 4px 2px 0px; }
.set_all_button { width: 304px; }
.forward_button { margin: 2px 2px 2px 79px; width: 100px; }
.lr_button { width: 75px; }
.backward_button { width: 100px; }
.pose_button:active, 
.set_button:active, 
.set_all_button:active,
.forward_button:active,
.lr_button:active,
.backward_button:active { background-color: #1c1b1b40; }
.label {
  color: rgb(7, 7, 7);
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: right;
  display: inline-block;
  width: 150px;
  height: 30px;
  margin: auto;
}